body{background-color: #40414f;}

.webMessengerMessageGroup{
    width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .pClass {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-weight: 550
  }
  
  ._50dv {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  ._50dv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .analka .avatar {
    background-color: #DCF8C6;
  }
  
  .stulej .avatar {
    background-color: #E2E2E2;
  }
  
  ._53 {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
  }
  
  .analka {
    background-color: #DCF8C6;
    color: #000;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
  }

  .analka1{
    background-color: #DCF8C6;
    color: #000;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1rem;
    
  }
  
  .stulej {
    background-color: #E2E2E2;
    color: #000;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 1rem;
  }
  .timestamp {
    font-size: 12px;
    color: #858484;
    align-self: flex-end;
    margin-top: 2px;
    text-decoration: none
  }

  a:link {
    text-decoration: none;
    color:white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
    color: red;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  .customTimeStamps{
    font-size: 32px;    
    width: 40px;
    margin: 20px auto;
    }

    ._1xpw{
        margin: auto;
  width: 60%;
 
  padding: 730px;
  color: #858484;
    }
    .emoticon{
      font-size: 20px;
    }

   * {cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1571.ani), url(https://ani.cursors-4u.net/games/gam-16/gam1571.png), auto !important;} 



  


